body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Syne Mono', monospace;
  color: #fff;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 0;
}

.shadow {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

#background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.info {
  background-color:rgba(0,0,0,0.7);
  padding: 1em;
}

.hidden {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.top {
  top: 0;
}

.width {
  width: 100vw;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.box {
  margin: 1em;
}

#help li {
  list-style-type: none;
}

.fill {
  height: 100vh;
  width: 100vw;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
