body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Major Mono Display', monospace;
  color: #fff;
}

a, a:visited {
  color: #fff;
}

#background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.info {
  background-color:rgba(0,0,0,0.7);
  padding: 0 0.5em;
}

.hidden {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.top {
  top: 0;
}

.width {
  width: 100vw;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.box {
  margin: 1em;
}
