body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}
